<MenuBar>

	<!-- ======================  MENU FILE ================================== -->
	<Menu name='File'>

		<MenuItem name='New' event='self.parent.editor.OnFileNew'>New Script</MenuItem>
		<MenuItem name='Open' event='self.parent.editor.OnFileOpen'>Open Script</MenuItem>
		<MenuItem name='Close' event='self.parent.editor.OnFileClose'>Close Script</MenuItem>
		<MenuItem name='Save' event='self.parent.editor.OnFileSave'>Save Script</MenuItem>
		<MenuItem name='Save As' event='self.parent.editor.OnFileSaveAs'>Save Script As</MenuItem>


		<Separator/>
		<RadioItem>Radio 1</RadioItem>
		<RadioItem>Radio 2</RadioItem>
		<Separator/>

		<CheckItem>Check 1</CheckItem>
		<CheckItem>Check 2</CheckItem>
		<Separator/>		


		<!-- =====  SOTTOMENU NEW  -->
		<Menu name='New'>
			<MenuItem name='Model' event='self.parent.FileNewModel'>Crea Modello</MenuItem>
			<MenuItem name='Graphic' event='self.parent.FileNewGraphic'>Crea Grafico</MenuItem>

			<!-- =====  SOTTOMENU RI-NEW  -->
			<Menu name='Ri-New'>
				<MenuItem name='Ri-Model' event='self.parent.RiFileNewModel'>RiCrea Modello</MenuItem>
				<MenuItem name='Ri-Graphic' event='self.parent.RiFileNewGraphic'>RiCrea Grafico</MenuItem>
			</Menu>
	
		<Menu name='Window'></Menu>
	

		</Menu>



	</Menu>

	<!-- ======================  MENU SEARCH ================================== -->
	<Menu name='Search'>

		<MenuItem name='Find' event='self.parent.editor.OnFind'>New Script</MenuItem>
		<MenuItem name='Replace' event='self.parent.editor.OnFind'>Open Script</MenuItem>
		<Separator/>
		<MenuItem name='Toggle Marker' event='self.parent.editor.OnFind'>Close Script</MenuItem>
		<MenuItem name='Next Marker' event='self.parent.editor.OnFind'>Save Script</MenuItem>
		<MenuItem name='Previous Marker' event='self.parent.editor.OnFind'>Save Script As</MenuItem>

	</Menu>

	<!-- ======================  MENU RUN ================================== -->
	<Menu name='Run'>
		<MenuItem name='Script' event='self.parent.OnRunScript'>Run script</MenuItem>
		<MenuItem name='Selection' event='self.parent.OnRunSelection'>Run selection</MenuItem>
	</Menu>


	<!-- ======================  MENU DATA ================================== -->
	<Menu name='Data'>
		<RadioItem>MySql</RadioItem>
		<RadioItem>Access</RadioItem>
		<Separator/>
		<MenuItem name='Titoli' event='self.parent.FileOpen'>Lista dei Titoli</MenuItem>
	</Menu>





	<!-- ======================  MENU WINDOW ================================== -->
	<Menu name='Window'>
		<MenuItem name='Cascade' event='self.parent.WindowCascade'>Finestre in cascata</MenuItem>
		<MenuItem name='Align' event='self.parent.WindowAlign'>Finestre affiancate</MenuItem>
		<MenuItem name='R-Help' event='self.parent.OnHelp'>R Help</MenuItem>
	</Menu>


</MenuBar>
